*, *::before, *::after{
    background-color: #21262D;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    margin: auto;
    width: 80%;
}

p{
  width: auto;
}

.topnav {
    position: fixed;
    top: 0;
    left: 15%;
    border-style: solid;
    border-color: #27d545;;
  }
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 50px;
    height: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #27d545;
    color: white;
  }

  .topnav a.icon{
      width: auto;
  }

  .title{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }

  .post{
    margin-bottom: 100px;
  }
  
  .main{
    width: auto;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  .table{
    width: auto;
  }

  /*In-text images*/
  .w3-round{
    width: 200px;
    height: auto;
    box-shadow: 3px 3px 2px 2px #27D545;
    float: left;
    margin-right: 15px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  